.TreeChart
{
  display : flex;
  flex-direction: column;
  position : absolute;
  left : 0;
  top : 0;
  right : 0;
  bottom : 0;
  overflow: hidden;
  background: rgba(128,128,128,0.05);
  color : #444444;
  font-family: Helvetica, sans-serif;
}

.TreeChartHeader
{
  flex-grow: 0;
  display : flex;
  flex-flow: row;
  justify-content: space-between;
}

.TreeChartChildren
{
  width : 100%;
  height : 100%;
  position : relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items : center;
}

.TreeChartChild
{
  flex-grow : 1;
  user-select : none;
  min-width : 1px;
  position: relative;
  overflow: hidden;
  background: rgba(128,128,128,0.01);
}

.TreeChartRowDivider
{
  width : 100%;
  height : 0;
  flex-grow : 0;
}

.TreeChartChild
{
  transition: flex-grow 0.3s, height 0.3s;
}

.TreeChartChildInner,
.TreeChartChildTitle
{
  position : absolute;
  left : 0;
  top : 0;
  bottom : 0;
  right : 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TreeChartChildTitle.Top { top : 0;}
.TreeChartChildTitle.Left { left : 0;}
.TreeChartChildTitle.Right { right : 0; }
.TreeChartChildTitle.Bottom { bottom : 0; }

.TreeChartChildTitle
{
  left : 1px;
  top : 1px;
  bottom : 1px;
  right : 1px;
}

.TreeChartChildEditor
{
  position : absolute;
  left : 0;
  top : 0;
  bottom : 0;
  right : 0;
  z-index : 1;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align : center;
  background: rgba(128,128,128,0.1);
}

.BreadCrumbs
{
  display: inline;
}


.TreeChartProgressBar
{
  background : rgba(0,0,0,0.1);
  transition: height 0.3s;
  background : lime;
  width : 0;
}