.TreeChart
{
  display : flex;
  flex-direction: column;
  width : 100%;
  height : 100%;
}

.TreeChartHeader
{
  flex-grow: 0;
}

.TreeChartChildren
{
  width : 100%;
  height : 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: lightgrey;
}

.TreeChartChild
{
  flex-grow : 1;
  border : 1px solid black;
  height : 30px;
}

.TreeChartRowDivider.active
{
  width : 100%;
  height : 0;
  flex-grow : 0;
}